!!!
html
  head
    - var cur = current.source == 'index' ? '/' : current.source
      title= pages[cur].name + " - " + site_name
    link(rel="stylesheet", href="css/app/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')

  body
    != partial("partials/_header")
    main
      - var cur = current.source == 'index' ? '/' : current.source
        - if(pages[cur].subsections.length > 0)
          .subnav
            ul
              each item in pages[cur].subsections
                li
                  a(href="##{item.slug}" title="Jump to #{item.display}")= item.display
          .content.sidebar
            != yield
        - else
          .content.no-sidebar
            != yield

    script(src="js/vendor/jquery-2.0.3.min.js")
    script(src="js/application.js")