h2.styleguide Welcome
p.styleguide This is just a sample styleguide app. On this page (should you choose to keep it) you will want to inform your devlopers on how to use the guide. You can also use it to include project links, information, and other useful tidbits.