@import tools
@import mixins

headerHeight = 60px
bodySideMargin = 10%

highlight-color = #5498d0
highlight-color-dark = darken(highlight-color, 20)
highlight-color-light = lighten(highlight-color, 20)
border-color = #e3e3e3
background-grey = #f5f5f5

body
  font-family: "Lato"
  background: #fff
  color: #000
  margin: 0
  padding: 0


header
  display: block
  padding: 0
  border-bottom: 1px solid #b3b3b3
  padding-top: headerHeight

  .navigation
    width: 100%
    height: headerHeight
    background: #fff
    vendor(box-shadow, 0 0 5px 3px rgba(0,0,0,0.3))
    position: fixed
    top: 0
    left: 0

  a.logo
    float: left
    margin-top: 10px
    height: headerHeight - 20px
    width: 20%
    text-transform: uppercase
    letter-spacing: 2px
    color: #fff
    text-decoration: none
    margin-left: bodySideMargin
    background-size: contain
    background-position: left center
    background-repeat: no-repeat
    background-image: url(../../img/logo.png)

  nav
    margin-right: bodySideMargin
    float: right
    height: 100%

    ul
      padding: 0
      list-style-type: none
      height: 100%

      li
        float: left
        border-right: 1px solid border-color
        height: 100%

        &:first-child
          border-left: 1px solid border-color

        &:last-child
          margin-right: 0

        &.active a
          color: #000
          background-color: background-grey

          &:after
            content: ""
            position: absolute
            border-top: 6px solid background-grey
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            top: 100%
            left: 50%
            margin-left: -10px

        a
          color: #333
          text-decoration: none
          padding: 0 20px
          height: 100%
          display: block
          position: relative
          line-height: headerHeight

          &:hover
            color: #000
            background: background-grey

  .title
    title-padding = 40px
    width: 100%
    background-color: highlight-color-dark
    color: #fff
    text-align: left

    h1, p
      margin-left: bodySideMargin
      margin-right: bodySideMargin

    h1
      padding: title-padding 0 10px 0
      font-size: 3em
      font-weight: 300

    p
      padding: 0 0 (title-padding + 10px) 0


main
  padding: 20px 0
  margin: 0 bodySideMargin
  position: relative

  subnavWidth = 220px

  .subnav
    width: subnavWidth
    float: left

    ul
      vendor(border-radius, 5px)
      border: 1px solid border-color

      li
        border-bottom: 1px solid border-color

        &:last-child
          border-bottom: 0

        a
          bgColor = #F5F5F5
          txtColor = #000
          display: block
          width: 92%
          height: 90%
          padding: 5% 4%
          text-decoration: none
          color: lighten(txtColor, 40)
          background-color: bgColor

          &:hover
            color: txtColor
            background-color: lighten(bgColor, 5)
    
  .content
    float: left
    min-height: 300px
    width: 100%

    &.sidebar
      margin-left: 20px
      width: calc(100% - 220px - 20px)

    h2
      text-transform: uppercase
      font-weight: 700
      margin: 80px 0 20px 0
      padding: 0 0 5px 0
      font-size: 1.2em
      text-align: left
      display: block
      border-bottom: 1px solid border-color

      &:first-child
        margin-top: 0

    p
      line-height: 1.6em

      code
        padding: 1px 2px
        color: highlight-color-dark
        background-color: #f7f7f9
        border: 1px solid #e1e1e8
        white-space: nowrap
        font-size: 0.85em
        vendor(border-radius, 3px)

    .demo
      border: 1px solid border-color
      vendor(border-radius, 5px)
      margin: 10px 0
      position: relative

      .example
        padding: 32px 10px 10px 10px
        border-bottom: 1px solid border-color
        position: relative

        &:after
          content: "Output"
          position: absolute
          top: 0
          right: 0
          border-bottom: 1px solid border-color
          border-left: 1px solid border-color
          padding: 5px
          font-size: 0.6em
          background: background-grey
          text-transform: uppercase
          color: rgba(0,0,0,0.4)

      code
        display: block
        padding: 10px
        color: #000
        background-color: background-grey
        font-family: Consolas, Monaco, 'Andale Mono', monospace
        font-size: 0.8em



.rendered
  @import "../styles"